<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="milestone2_robot">
     <link
    name="ultrasonic_front">
    <inertial>
      <origin
        xyz="-0.0071307 0.012957 -5.3951E-06"
        rpy="0 0 0" />
      <mass
        value="0.0062754" />
      <inertia
        ixx="4.6748E-07"
        ixy="-3.2911E-10"
        ixz="-1.9465E-09"
        iyy="1.7872E-07"
        iyz="-7.2811E-11"
        izz="3.903E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://milestone2_robot/meshes/ultrasonic_front.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://milestone2_robot/meshes/ultrasonic_front.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="ultrasonic_front_joint"
    type="fixed">
    <origin
      xyz="0.10754 -0.013018 -0.0057577"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="ultrasonic_front" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="ultrasonic_right">
    <inertial>
      <origin
        xyz="0.012957 0.0071307 -5.3951E-06"
        rpy="0 0 0" />
      <mass
        value="0.0062754" />
      <inertia
        ixx="1.7872E-07"
        ixy="3.2911E-10"
        ixz="-7.2811E-11"
        iyy="4.6748E-07"
        iyz="1.9465E-09"
        izz="3.903E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://milestone2_robot/meshes/ultrasonic_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://milestone2_robot/meshes/ultrasonic_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="ultrasonic_right_joint"
    type="fixed">
    <origin
      xyz="-0.029464 -0.10902 -0.0057577"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="ultrasonic_right" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="ultrasonic_left">
    <inertial>
      <origin
        xyz="0.013043 -0.0071307 -5.3951E-06"
        rpy="0 0 0" />
      <mass
        value="0.0062754" />
      <inertia
        ixx="1.7872E-07"
        ixy="3.2911E-10"
        ixz="7.2811E-11"
        iyy="4.6748E-07"
        iyz="-1.9465E-09"
        izz="3.903E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://milestone2_robot/meshes/ultrasonic_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://milestone2_robot/meshes/ultrasonic_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="ultrasonic_left_joint"
    type="fixed">
    <origin
      xyz="-0.029464 0.10898 -0.0057577"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="ultrasonic_left" />
    <axis
      xyz="0 0 0" />
  </joint> 
<gazebo reference="ultrasonic_right">
<material>Gazebo/Blue</material>
</gazebo>  
<gazebo reference="ultrasonic_left">
<material>Gazebo/Blue</material>
</gazebo>
<gazebo reference="ultrasonic_front">
<material>Gazebo/Blue</material>
</gazebo>
</robot>